<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{ nav.html ::navbar }"> </div>


<div class="form-wrap">
    <h2>회원가입</h2>
    <script src="https://www.google.com/recaptcha/api.js?render=6LfPsKUrAAAAAIrJULnEAPw0Bf4IcHrrQDCLGUxJ"></script>
    <form action="/signup" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <input class="form-input" type="text" name="username" placeholder="아이디" autocomplete="new-username" required>
        <input class="form-input" type="password" name="password" placeholder="비밀번호" autocomplete="new-password" required>
        <input class="form-input" type="password" name="passwordConfirm" placeholder="비밀번호 확인" required>
        <input class="form-input" type="email" name="email" placeholder="이메일" required>
        <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
        <button class="btn btn-blue form-btn" type="submit">회원가입</button>
        <div class="form-error" th:if="${error}" th:text="${error}"></div>
    </form>
    <script>
        grecaptcha.ready(function() {
          grecaptcha.execute('6LfPsKUrAAAAAIrJULnEAPw0Bf4IcHrrQDCLGUxJ', {action: 'signup'}).then(function(token) {
            document.getElementById('g-recaptcha-response').value = token;
          });
        });
    </script>
</div>
<script src="/nav-toggle.js"></script>
</body>
</html>